<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>mercadopago</name>
            <displayName><![CDATA[MercadoPago]]></displayName>
            <version><![CDATA[3.0.0]]></version>
            <description><![CDATA[Receba pagamentos via MercadoPago de cart&otilde;es de cr&eacute;ditos e boletos utlizando nosso checkout transparente ou standard.]]></description>
            <author><![CDATA[MERCADOPAGO.COM REPRESENTA&Ccedil;&Otilde;ES LTDA.]]></author>
            <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall>Você tem certeza que deseja desinstalar MercadoPago?</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>