<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>mercadopago</name>
	<displayName><![CDATA[Mercado Pago]]></displayName>
	<version><![CDATA[3.3.3]]></version>
	<description><![CDATA[Reciba pagos con tarjetas y tickets con nuestro Checkout Personalizado o Checkout Básico. Utiliza Mercado Envios.]]></description>
	<author><![CDATA[MERCADOPAGO.COM LTDA.]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[¿Está seguro de que desea desinstalar MercadoPago]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>