<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>mercadopago</name>
	<displayName><![CDATA[Mercado Pago]]></displayName>
	<version><![CDATA[3.4.12]]></version>
	<description><![CDATA[Receive your payments using Mercado Pago, you can using the Custom Checkout or Checkout Standard.]]></description>
	<author><![CDATA[MERCADOPAGO.COM Representações LTDA.]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall MercadoPago?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>