<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>mercadopago</name>
	<displayName><![CDATA[MercadoPago]]></displayName>
	<version><![CDATA[2.0]]></version>
	<description><![CDATA[Receive Payments throw MercadoPago]]></description>
	<author><![CDATA[]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure that want to delete your datas?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>